body.pricing-page {
    background-color: #21B19B;
  }
  
  .pricing {
    text-align: center;
    padding: 37px 19px;
    color: white;
    min-height: 100vh;
  }
  
  .header {
    margin-bottom: 28px;
  }
  
  .header h1 {
    font-size: 34px;
    margin-bottom: 9px;
    font-weight: bold;
  }
  
  .header p {
    font-size: 17px;
    font-weight: bold;
  }
  
  .toggle-buttons {
    display: inline-block;
    background: white;
    border-radius: 19px;
    overflow: hidden;
    margin-bottom: 19px;
  }
  
  .toggle-buttons button {
    background: none;
    border: none;
    padding: 9px 19px;
    cursor: pointer;
    color: #21B19B;
    font-weight: bold;
    font-size: 17px;
  }
  
  .toggle-buttons button.active {
    background: #00483D;
    color: white;
  }
  
  .filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-bottom: 19px;
    font-weight: bold;
  }
  
  .arrow {
    background: none;
    border: none;
    font-size: 23px;
    color: white;
    cursor: pointer;
  }
  
  .cards-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
  }
  
  .card {
    background: white;
    border-radius: 19px;
    padding: 28px;
    width: 359px;
    color: #333;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card h3 {
    margin-top: 0;
    font-size: 34px;
    font-weight: bold;
  }
  
  .price {
    font-size: 56px;
    color: #5e18ae;
    font-weight: bold;
  }
  
  .price span {
    font-size: 26px;
  }
  
  .alt-price {
    font-size: 20px;
    color: #21B19B;
    font-weight: 1000;
  }
  
  .card hr {
    margin: 17px 0;
    border: 1px solid #dadede;
  }
  
  .card ul {
    list-style: disc;
    padding-left: 19px;
    text-align: left;
    color: #131516;
    font-size: 17px;
  }
  
  .card ul li {
    margin-bottom: 9px;
  }
  
  .get-started {
    background: #5e18ae;
    border: none;
    color: white;
    padding: 15px 28px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 23px;
  }
  
  .get-started:hover {
    background: #3f9f85;
  }
  