
.home {
    height: 900px;
    border-radius: 24px 24px 0px 0px;
    position: relative;
    overflow: hidden;
    transition: background-image 1s ease-in-out;
}

.home.bg1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(287deg, #000 3.75%, rgba(0, 0, 0, 0.00) 58.74%), url(../../Images/Home1.png) lightgray 0px -120.88px / 100% 133.671% no-repeat;
}

.home.bg2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(287deg, #000 3.75%, rgba(0, 0, 0, 0.00) 58.74%), url(../../Images/Home2.png) lightgray 0px -120.88px / 100% 133.671% no-repeat;
}

.home.bg3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(287deg, #000 3.75%, rgba(0, 0, 0, 0.00) 58.74%), url(../../Images/Home3.png) lightgray 0px -120.88px / 100% 133.671% no-repeat;
}

.home.bg4 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(287deg, #000 3.75%, rgba(0, 0, 0, 0.00) 58.74%), url(../../Images/Home4.png) lightgray 0px -120.88px / 100% 133.671% no-repeat;
}

.home.bg5 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(287deg, #000 3.75%, rgba(0, 0, 0, 0.00) 58.74%), url(../../Images/Home5.png) lightgray 0px -120.88px / 100% 133.671% no-repeat;
}

.homeText {
    width: 35%;
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    padding-top: 10%;
    padding-left: 5%;
}

.homeButtons {
    background-color: #5e18ae;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
  }