.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #5e4534;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  z-index: 1000;
  font-family: Montserrat, sans-serif;
}

.leftLinks,
.rightLinks {
  display: flex;
  align-items: center;
}

.leftLinks {
  flex: 1;
  justify-content: flex-end;
  margin-right: 150px;
}

.rightLinks {
  flex: 1;
  justify-content: flex-start;
  margin-left: 150px;
}

.leftLinks .linkStyle,
.rightLinks .linkStyle,
.rightLinks .userButton {
  margin-right: 70px; /* Add 15px of spacing between each link */
}

.logo {
  text-align: center;
  flex: 0;
}

.linkStyle {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.logoStyle {
  font-size: 54px;
  font-weight: bold;
  color: #C0A2D6;
  text-decoration: none;
}

.welcomeMessage {
  color: white;
  font-size: 24px;
  margin-right: 70px;
}

.userButton {
  background-color: white;
  border: none;
  color: #5e4534;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  cursor: pointer;
  border-radius: 5px;
}

.userButton:hover {
  background-color: #f0f0f0;
}

.activeLink {
  color: #C0A2D6;
}
