.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Light grey background */
}

.signup-form {
    background-color: #5e4534; /* Brown background */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.signup-form h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.signup-form input::placeholder {
    color: #aaa;
}

.password-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.password-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.show-password-icon {
    width: 15%;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-submit {
    background-color: white;
    color: #5e4534;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.signup-submit:hover {
    background-color: #f0f0f0; /* Slightly darker shade for hover effect */
}

.divider {
    width: 100%;
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #ccc;
}

.social-signin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #5e4534;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
}

.social-button:hover {
    background-color: #f0f0f0;
}
