* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flexC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexR {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}